<div class="container">
    <img src="{{gun.imageUrl}}" alt="{{gun.name}}">
    <div class="details">
        <div class="name">
            {{gun.name}}
        </div>
        <div class="category">
            Type: {{gun.type}}
        </div>
        <div class="caliber">
            Caliber: {{gun.caliber}}
        </div>
        <div class="capacity">
            Capacity: {{gun.capacity}}
        </div>
        <div class="weight">
            Weight: {{gun.weight}} kg
        </div>
        <div class="price">
            Price: {{gun.price|currency}}
        </div>
        <button (click)="addToCart()">Add to Cart</button>
    </div>
</div>

<!-- id!:number;
    name!:string;
    type!:string;
    caliber?:string;
    capacity?:string;
    weight?:number;
    price!:number;
    tags?:string[];
    imageUrl!:string; -->